In [1]:
import pandas as pd
import os

In [11]:
file_name = "titles.csv"
file_to_load = "Analysis_Projects_Folder/Pewlett-Hackard-Analysis_Folder/Data/" + file_name

In [12]:
data = pd.read_csv(file_to_load)
data.head()

   emp_no            title   from_date     to_date
0   10001  Senior Engineer  1986-06-26  9999-01-01
1   10002            Staff  1996-08-03  9999-01-01
2   10003  Senior Engineer  1995-12-03  9999-01-01
3   10004         Engineer  1986-12-01  1995-12-01
4   10004  Senior Engineer  1995-12-01  9999-01-01

In [13]:
data.value_counts()

emp_no  title             from_date   to_date
499999  Engineer          1997-11-30  9999-01-01    1
109763  Senior Staff      1989-12-10  1990-10-29    1
109755  Senior Staff      2000-09-13  9999-01-01    1
        Staff             1993-09-13  2000-09-13    1
109756  Engineer          1991-05-01  1997-04-30    1
                                                   ..
299855  Engineer          1994-02-13  9999-01-01    1
299856  Senior Staff      1992-08-14  9999-01-01    1
        Staff             1986-08-15  1992-08-14    1
299857  Technique Leader  1991-10-12  9999-01-01    1
10001   Senior Engineer   1986-06-26  9999-01-01    1
Length: 443308, dtype: int64